<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sam_chordas.android.stockhawk"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".StockHawk"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".presentation.mystocks.MyStocksActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.stockdetails.StockDetailsActivity"
            android:parentActivityName=".presentation.mystocks.MyStocksActivity"
            />

        <service
            android:name=".data.services.UpdateStocksTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service android:name=".data.services.UpdateStocksIntentService"/>

        <provider
            android:name=".data.provider.generated.QuoteProvider"
            android:authorities="com.sam_chordas.android.stockhawk"
            android:exported="true"
            />

        <receiver
            android:name=".presentation.widget.QuotesWidgetProvider"
            android:label="@string/widget_title"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider"
                />
        </receiver>

        <service
            android:name=".presentation.widget.QuotesWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

    </application>

</manifest>